*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body h1{
    text-align: center;
}

.pokemon-container{
    border: 1px solid #ccc;
}

.pokemon-container{
    border: 1px solid #ccc;
}

.card{
    border: 1px solid #ccc;
    width: 150px;
    height: 220px;
    box-shadow: 0px 1px 5px #000;
}

.card img{
    width: 100%;
    padding: 15px;
}

.card ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.pokemon-id{
    font-size: 10px;
}